*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.fdb_latexmk
*.toc
*.lof
*.lot
*.gz
*.synctex.gz

# Datos pesados y binarios de reconstrucción (No commitear a Git)
*.zip
*.ply
*.obj
*.mtl
*.bin
investigation/Lotes/nube_densa/
investigation/Lotes/nube_sparse/
investigation/Lotes/images/
